[user]
	name = Aufar Gilbran
	email = aufargilbran@gmail.com
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = nvimdiff
[include]
	path = ~/.gitconfig.d/local-config
[rerere]
	enabled = true
[pretty]
	cs = format:%C(red)%h %C(white)|%C(white) %<(50,trunc)%s %C(white)| %C(yellow)%<(16,trunc)%an %C(white)| %C(green)(%cd) %C(magenta)%d%C(reset)
[alias]
	; display
	logs = log --pretty=cs --abbrev-commit --date=relative --no-merges
	graph = log --graph --pretty=cs --abbrev-commit --date=relative --no-merges

	; operation
	fixup = "!f() { \
		TARGET=$(git rev-parse "$1"); \
		git commit --fixup=$TARGET ${@:2} && \
		EDITOR=true git rebase -i --autostash --autosquash $TARGET^; \
		}; f"
	tidy = !git reset --hard "${1:-@}" && git clean -fd
	pristine = !git reset --hard "${1:-@}"  && git clean -fdx
