## Base configuration
# Config
set my_configbase         = "~/.mutt"

# Folder
set folder                = "~/Mail"
mailboxes                 = <mailboxes>

# General options
set send_charset          = "us-ascii:utf-8"
set edit_headers          = yes
set pager_stop            = yes
set narrow_tree           = yes
set sort                  = threads
set sort_browser          = unsorted
set sort_aux              = reverse-last-date-received
set sort_re               = yes
set tilde                 = yes
set help                  = no
set beep_new              = yes
set suspend               = no
set status_on_top         = yes
set imap_keepalive        = 300
set quit                  = ask-no
set imap_check_subscribed = yes
set timeout               = 10
set folder_format         = "%2C %t %N %d %8s %f %>"
set mailcap_path          = "~/.mutt/mailcap"
set sleep_time            = 0
set sendmail              = "/usr/bin/msmtp"
set use_from              = yes
set use_envelope_from     = yes
set text_flowed           = yes
set query_command         = "abook --mutt-query '%s'"
unset imap_passive
unset mark_old

auto_view text/html

# GPG
source ~/.mutt/gpg.rc

# Patches
set sidebar_visible       = yes
set sidebar_sort_method   = unsorted
set sidebar_width         = 24
color sidebar_new yellow default

## Folder hooks
# Mail hooks (see README.md)
# Example:
# folder-hook =user@mail.com/* source $my_configbase/user@mail.com/rc

## List of mailing lists
source ~/.mutt/mailing-lists
## Theme
source ~/.mutt/color-scheme

## Key bindings
source ~/.mutt/key-bindings
