IMAPAccount <account name>
    Host <imap address>
    User <mail address>
    PassCmd "<pass command>"
    SSLType IMAPS
    CertificateFile <certificate file>

IMAPStore <remote store name>
    Account <account name>

MaildirStore <local store name>
    Path <path>
    Inbox <inbox path>

Channel <channel name>
    Master :<remote store name>:
    Slave :<local store name>:
    Patterns <mailbox patterns>
    Create both
    SyncState *

Group <group name>
    Channel <channel name>
